$color-black: #292929;
$color-white: #ffffff;
$color-black-title: #333333;
$color-black-menu: #5c574d;
$color-black-para: #635D53;
$color-black-meta: #8E8E8E;
$color-link: #23B4E5;
$color_code_bg: #1b1f230d;